.about {
    min-height: 100vh;
    color: white !important;
    background-color: black;

    main {
        padding: 1rem 0.5rem;
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        background-color: black;

        h1 {
            margin: 4rem auto 2rem;
        }
    }
}