
article {
    margin: 0 auto;
    padding: 1rem 1rem;
    position: relative;
    width: 100%;
    height: 360px;
    transition: width 0.4s ease-in-out, opacity 0.3s ease-out;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.766);
    overflow: hidden;

    z-index: 2;

    @media (min-width: 768px) {
      padding: 1rem 4rem;
    }
  
    h2 {
      margin-bottom: 1rem;
    }  
  
    .content { 
      height: 80%;
      display: flex;  
      align-items: center;
      border: 1px solid #888;
      border-radius: 5px;
  
      p {
        margin: 0.5rem;
        float: left;
        font-size: 0.8rem;   
        height: fit-content;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
          overflow: hidden;
        
        @media (min-width: 768px) {
          font-size: 1rem;         
        }
      
      }
       
        img {
          margin: 0.5rem;
          width: 100px;          
          height: 150px;
          object-fit: cover;
          object-position: center;
          
          @media (min-width: 768px) {
            width: 240px;
            height: auto;
            
        }
      }
      .link_to {
        padding: 0.2rem 0.25rem;
        max-width: fit-content;
        position: absolute;
        top: 0;
        right: 0;
        text-decoration: none;
        color: rgb(166, 166, 166);
        background-color: black;
        border-bottom-left-radius: 5px;
      }
     
    }  

    .more_details {
      a {
        color: aquamarine;
        position: relative;
        width: 100%;
        padding: 0.5rem 1rem;
        text-align: center;
  
        &:hover {
          cursor: pointer;
          color: lighten(aquamarine, 10%);
        }
      }

    }
  }