.logo {
    padding: 0.5rem;
    max-width: 50%;
   

    > h2 {     
        padding: 0 0 0 2rem;
        font-weight: 400;   
        color: white;
        text-transform: uppercase;         
    }
}