#root { 
  min-height: 100vh;
  height: 100%;
  background-color: #282828;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


main {
  margin: 0 auto;
  width: 90%;
  min-height: 100vh;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 80%;
  }
}

.heading {
  position: fixed;
  top: 20vh;
  left: 30vw;
  z-index: 1000;
  display: inline;
  width: 100%;
  height: 30px;
  
  background-color: aqua;

  .heading_title {
    font-size: 3rem;
    color: pink;
  }
}

// for showing article title
.title {
  color: white;
  text-align: center;
  margin-bottom: 0.25rem;
  font-weight: 800;
}

// for articles 
.content_wrapper {
  margin: 0 auto;
  width: 100%;
  height: 360px;
  position: relative;
  overflow: hidden;  
  background-color: transparent;

  @media screen and (min-width: 768px) {
    width: 80%;
  }
}

// modal content

.modal_content {
  height: 100%;  
}

.buttons {
  position: relative;
  align-self: center;
}
/* 
.cme {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  article {
    margin: 0 auto;
    padding: 1rem 0;
    width: 80%;
    background-color: black;
    opacity: 0;

    h2 {
      color: #888;
      text-align: center;
      font-size: clamp(1.5rem, 2vw, 2.5rem);
    }

    p {
      margin: 0 auto;
      width: 60%;
      padding: 1rem 0;
      font-size: 1rem;
      color: white;
    }

    img {
      padding: 4rem;
      margin: 0 auto;
      width: 80%;
      height: auto;
    }
  }
}

article.active {
  opacity: 1;
} */
