.nav {
    width: 70%;
    height: 100%;
    background-color: black;

    
  @media screen and (min-width: 768px) {
    width: 50%;
  }

}

.menu {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}